* {
    padding: 0;
    margin: 0;   
    list-style: none;
    box-sizing: border-box;
    font-family: 'Didact Gothic';
 }
  body{
    background: white;
    background-position: fixed;
    color: black;
    width: 100%;
  }

  .navbar {
    background-color: #000000; 
    color: white;
    overflow: hidden;
    position: fixed;
    width: 100%;
    
  }

  #logo {
    width: 60px;
    height: 100px;
    top: -10;
    margin-left: 20px;
  }
  .navlist {
    float: left;
    display: block;
    color: white; 
    width: 100%; 
  }
  .logo{
    white-space: nowrap;
    height: 100%;
  }
  .navlink {
    text-decoration: none;
    color: white;
    font-size: 17px;
    margin-top: 10px;
  }

  .navlist li {
   margin: 20px;
   padding: 10px 0px;  
  }
  .navlist li:hover, .navlink.active {
    background-color: gold;
    color: black;
  }

  .navcl {
    float: right;
    font-size: 39px;
    color: gold;
    margin-right: 20px;
    vertical-align: middle;
  }

  .navlist {
    display: none;
  }

  @media screen and (max-width: 600px) {
    #logo {
      width: 40px;
      height: 60px;
      margin-left: 20px;
    }
.logo {
padding-top: 5px;
}
  }

  #navhide  {
    display: none;
    transition: ease-in 2s;
  }

  .heading {
    padding-top: 91px;
    font-size: 60px;
    padding-bottom: 10px;
    text-align: center;
    font-family: 'Poiret One';
    font-weight: lighter;
}

#heading {
  color: black;
  text-align: center;
  padding: 10px 0px 30px 0px;
}

.artist {
  height: auto;
  margin-bottom: 30px;
}


.artists {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  row-gap: 60px;
  text-align: center;
  margin: 0 auto;
}

.artistimg {
  width: 80%;
  height: 90%;
}
@media screen and (min-width: 947px) {
  .artists {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
  }
}

@media screen and (min-width: 697px) and (max-width: 946px) {
  .artists {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
  }
}

.artheading {
  font-size: large;
}

.btnart {
  background-color: gold;
  color: black;
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  transition: ease-in-out 0.2s;
}
.btnart:hover {
  background-color: black;
  color: white;
}



footer {
  background: black;
  color: white;
  display: grid;
  grid-template-columns: auto;
  justify-content: space-around;
  padding:30px 10px 10px 10px;
  margin-top: 60px;
}
.lfooter {
  padding-bottom: 20px;
}
.fheading {
  font-size: 30px; 
  padding-bottom: 10px;
  font-weight: lighter;
  font-family: 'Poiret One';
}

.ftexts {
  padding-bottom: 10px;
}

@media screen and (min-width: 600px){
  footer {
    grid-template-columns: auto auto;
    justify-content: space-around;
    padding: none;

  }
}