* {
    padding: 0;
    margin: 0;   
    list-style: none;
    box-sizing: border-box;
    font-family: 'Didact Gothic';
 }
  body{
    background: black;
    background-attachment: fixed;
    color: white;
    width: 100%;
  }

  .navbar {
    background-color: #000000; 
    color: white;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    
  }

  #logo {
    width: 50px;
    height: 70px;
    top: -10;
    margin-left: 20px;
  }
  .navlist {
    float: left;
    display: block;
    color: white; 
    width: 100%; 
  }
  .logo{
    white-space: nowrap;
    height: 100%;
  }
  .navlink {
    text-decoration: none;
    color: white;
    font-size: 17px;
    margin-top: 10px;
  }

  .navlist li {
   margin-bottom: 20px;
   padding: 10px 10px;  
  }
  .navlist li:hover, .navlink.active {
    background-color: gold;
    color: black;
  }

  .navcl {
    float: right;
    font-size: 39px;
    color: gold;
    margin-right: 20px;
    vertical-align: middle;
  }

  .navlist {
    display: none;
  }

  @media screen and (max-width: 600px) {
    #logo {
      width: 40px;
      height: 60px;
      margin-left: 20px;
    }
.logo {
padding-top: 5px;
} 
}

  #navhide  {
    display: none;
    transition: ease-in 2s;
  }

  .splide__slide {
    width: 90vw;
    text-align: center;
      }
    
      #main-carousel .splide__slide img {
        width: 90%;
        height: 600px;
        
      }
    
      .thumbnails {
        display: flex;
        margin: 1rem auto 0;
        padding: 0;
        justify-content: center;
      }
      
      .thumbnail {
        width: 40px;
        height: 40px;
        overflow: hidden;
        list-style: none;
        margin: 0 0.2rem;
        cursor: pointer;
      }
      
      .thumbnail img {
        width: 100%;
        height: auto;
      }

.about-cnt {
  display: grid;
  grid-template-columns: auto auto;
  background-color: black;
  color: white;
  column-gap: 40px;
  margin: 20px;
  justify-content: center;
}

.aboutimg {
  width: 300px;
  height: 100%;
  margin: 0 auto;
} 

.abouttext > h3, .abouttext > span {
    text-align: center;
    font-size: 40px;
}

.abouttext > p {
    text-align: justify;
}

@media screen and (max-width: 600px) {
  .about-cnt {
    grid-template-columns: auto;
    row-gap: 20px;
  }
  .statement, .about {
    padding: 20px;
  }
}

  #img1 {
    background-image: url(art/Bloom\ through\ 8.jpg);
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    background-size: 100% 100%;
    text-align: center;
  }

  #img2 {
    background-image: url(art/Mmiri\ jpg.jpg);
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    background-size: 100% 100%;
    text-align: center;
  }
  #img3 {
    background-image: url(art/Elation_1.jpg);
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    position: relative;
    text-align: center;
  }
  #img4 {
    background-image: url(art/Homeostasis.jpg);
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    text-align: center;
    position: relative;
  }

  
  .display > p {
  margin: 0 auto;    
  vertical-align: bottom;
    line-height: 40px;
    background-color: gold;
    padding-left: 10px;
    position: absolute;
    padding-right: 10px; 
    margin-bottom: 40px;
    width: 100%;
    bottom: 0;  
}
  

  .aicons {
    color: gold;
        display: block;
    padding-right: 10px;
  }


#img2, #img3, #img4 {
  display: none;
}

.exheading {
  text-align: center;
}

.aexh {
   padding: 0px 10px;
  text-decoration: none;
  color: black;
  font-size: 20px;
}

#exhibitions {
  padding-top: 0px;
  margin-top: 0px;
  font-weight: bold;
}

.exhname {
  font-family: 'Poiret One';
}

.exhtexth6 {
  padding-bottom: 15px;
}

.exhimg {
  width: 235px;
  height: 270px;
  margin: 0 auto;
  display: block;
}


.exh1 {
  padding-top: 40px;
  display: grid;
  grid-template-columns: 90%;
  margin: 0 auto;
  justify-content: space-around;
  row-gap: 20px;
}

.exhtext {
  text-align: justify;
  line-height: 20px;
}

.exhicons {
  text-align: center;
  padding-top: 20px;
  
}

.icons {
  padding: 0px 10px 0px 10px;
  transition: 300ms;
}

.icons:hover {
  transform: scale(1.2, 1.5);
}

#exhibitions0 {
  background: url(art/hbg/4.png);
  color: black;
  padding-bottom: 30px;
}

.exhheading {
  font-size: 40px;
  font-weight: lighter;
  font-family: 'Poiret One';
  padding: 10px 0px;  
}

#exhibitions1 {
  background-image: url(art/hbg/5.png);
  padding-bottom: 30px;
  color: black;
  display: none;
}

#exhibitions2 {
  background-image: url(art/hbg/6.png);
  padding-bottom: 30px;
  color: black;
  display: none;
}

@media screen and (min-width: 697px) {
  #exhibitions0 {
    height: auto;
    background: #010101;
    color: black;
  }
  
  #exhibitions0 {
    background-image: url(art/hbg/4.png), linear-gradient(0deg, rgba(231, 183, 11, 0.5), rgba(231, 183, 11, 0.5));
    padding-bottom: 30px;
  
  }
  
  .exheading {
    text-align: center;
  }
  
  .aexh {
    padding: 20px 40px;
    color:black;
  }
  
  .exh1 {
   margin:  0 auto;
   display: inline-flex;
   width: 100%;
   justify-content: center;
  }
  
  .exhimg {
    width: 400px;
    height: 410px;
    padding: 40px;
  }
  
  .exhtext {
    width: 400px;
    height: 410px;
    padding: 40px;
  }
  
  .exhheading {
    padding-top: 50px;
padding-left: 250px;
padding-right: 250px;
      padding-bottom: 30px;
      text-align: center;
  }

  
  
  .exhname {
    font-weight: bold;
    font-family: 'Poiret One';
  }
  
  .exhtexth6 {
    padding-bottom: 10px;
  }
  
  .icons {
    padding: 30px;
    transition:.5s; /* this is grow duration */
  }
  
  .icons:hover {
      transform:scale(1.5); /* this is grow amount */
  }
  
  a {
    text-decoration: none;
    color: white;
  }
  
  #exhibitions1 {
    background-image: url(art/hbg/5.png), black;
    padding-bottom: 30px;
    height: 650px;
    color: black;
    display: none;
  }
  
  #exhibitions2 {
    background-image: url(art/hbg/6.png), black;
    padding-bottom: 30px;
    height: 650px;
    color: black;
    display: none;
  }
}

@media screen and (min-width: 749px) and (max-width: 900px) {
  .icons {
    padding: 0px 10px 0px 10px;
  } 
.exhimg {
  width: 400px;
  height: 100%;
}
}

@media screen and (min-width: 697px) and (max-width: 749px) {
  .icons {
    padding: 0px 10px 0px 10px; 
  } 
.exhimg {
  width: 400px;
  height: 100%;
}

.exhtext {
  width: 400px;
  height: auto;
  padding: 20px 0px 20px -20px;
  text-align: left;
}
}

footer {
  background: black;
  color: white;
  display: grid;
  grid-template-columns: auto;
  justify-content: space-around;
  padding:30px 10px 10px 10px;
}
.lfooter {
  padding-bottom: 20px;
}
.fheading {
  font-size: 30px; 
  padding-bottom: 10px;
  font-weight: lighter;
  font-family: 'Poiret One';
}

.ftexts {
  padding-bottom: 10px;
}

@media screen and (min-width: 600px){
  footer {
    grid-template-columns: auto auto;
    justify-content: space-around;
    padding: none;

  }
}




